@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Montserrat:wght@100;400;900&family=Raleway&family=Rubik&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root,.app{
  height: 100%;
  width: 100%;
}
